/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}


body {
	background-color: black;
	margin: 0;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	color: red;
	/* font-size: 55px; */
	font-weight: lighter;
	background-color: rgb(54, 53, 53);
	margin: 0;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 Black, 0 -2px black;
}

@media (max-width: 480px) {
	#mainHeader {
		font-size: 20px;
	}
	.eachGame {
		font-size: 15px;
	}
	#gamescore {
		font-size: 20px;
	}
}
@media (min-width: 768px) {
	#mainHeader {
		font-size: 40px;
	}
	.eachGame {
		font-size: 20px;
	}
	#gamescore {
		font-size: 25px;
	}
}
@media (min-width: 1200px) {
	#mainHeader {
		font-size: 55px;
	}
	.eachGame {
		font-size: 20px;
	}
	#gamescore {
		font-size: 35px;
	}
}

.eachGame {
	border: 2px solid whitesmoke;
	border-radius: 10px;
	width: 340px;
	margin: 10px;
}

.gameDataDiv {
	border-top: 2px solid whitesmoke;
	margin: 0;
	text-align: center;
	padding-top: 15px;
}

#myInput {
	/* add a search icon to input */
	background-image: url('../searchBackground.png');
	/* position the search icon */
	background-position: left center;
	/* do not repeat the icon image */
	background-repeat: no-repeat;
	/* full width */
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myUL {
	/* remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL a:hover:not(.header) {
	/* add a hover effect to all links,
	except for headers */
	background-color: grey;
}

/* animation */
body {
	margin: 0; /* gets rid of white space around body */
	height: 200vh;
	background: url("https://static.pexels.com/photos/1440/city-road-street-buildings.jpg") no-repeat center / contain;
	background-color: black;
	position: relative; /*REQUIRED Sets up positioning for your footer*/
}

#sticky {
	width: 100%;
	padding: 6px;
	padding-bottom: 16px;
	background: skyblue;
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	position: fixed; /*Here's what sticks it*/
	bottom: 0; /*to the bottom of the body*/
	left: 0; /*and to the left of the body.*/

	/*EFFECTS*/
	border-top: 2px solid gray;
	background-image: url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200);
}

.gameData {
	color: skyblue;
	text-align: left;
	display: flex;
	padding: 10px;
}

.theHomeTeam {
	color: white;
	text-align: left;
	padding: 2px;
}

.theAwayTeam {
	color: grey;
	text-align: left;
	padding: 2px;
	align-content: space-between;
}

.flex-container {
	flex-flow: wrap;
	align-content: space-between;
	justify-content: center;
}

.flex-container > div {
	background-color: black;
	text-align: left;
	line-height: 25px;
	flex-direction: wrap;
	flex-flow: wrap;
}

#gamescore {
	color: red;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

.gameContainer {
	display: flex wrap;
	align-content: space-between;
	padding: 15px;
}

table {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	border: 5px solid grey;
	background-color: black;
}

.buttons {
	display: flex;
	justify-content: center;
	width: 100%;
}

.prevWeek {
	margin-right: 10px;
}

.nextWeek {
	margin-left: 10px;
}
